html {
  overflow-y: auto !important;
}

body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e) !important;
}

::-webkit-scrollbar {
  width: 6px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #303467;
}